h1 {
  color: red;
  font-size: 36px;
  font-weight: bold;
}
P {
  text-decoration: underline;
}
#testP {
  display: inline-block;
  height: 100px;
  background-color: aquamarine;
  text-align: center;
  /* padding: 10px 0px 10px 0px; */
}